sql/census.zip filter=lfs diff=lfs merge=lfs -text
fixtures/census/wazimap_django_models.json filter=lfs diff=lfs merge=lfs -text
fixtures/census/total_wazimap_django_models.json filter=lfs diff=lfs merge=lfs -text
sql/wazimap_vpuu.sql.bz2 filter=lfs diff=lfs merge=lfs -text
