{% load humanize madlibs comparatives stats %}

{% if not stat_wrapper == 'false' %}
<div class="indicator__value">
    <div class="indicator__value__number">
	{% if stat.values.this == -2 %}
	{% statvalue 0 %}
	{% elif not stat.values.this %}
	{{ WAZIMAP.na_label }}
	{% else %}
	{% if stat_type == 'name' %}
	{{ stat.name }}
	{% else %}
	{% statvalue stat.values.this %}
	{% if stat_suffix %} <span class="stat-suffix">{{ stat_suffix }}</span>{% endif %}
	{% endif %}
	{% if stat.error.this_ratio >= 10 %}<sup>&dagger;</sup>{% endif %}
	{% endif %}

	{% if not stat_class == 'secondary' %}
	{% if stat.error.this %}
	<span class="context moe">&plusmn;{% statvalue stat.error.this %}</span>
	{% endif %}

	{% if stat.numerators.this %}
	<span class="context">({% statvalue stat.numerators.this isnumerator=True %}{% if stat.numerator_error.this %}&nbsp;&nbsp;&plusmn;{% statvalue stat.numerator_errors.this isnumerator=True %}{% endif %})</span>
	{% endif %}
	{% endif %}
    </div>
    <div class="indicator__value__label">
	{% if stat.type == 'name' %}
	{{stat.summary}}
	{% else %}
	{{ stat.name }}
	{% endif %}
    </div>
</div>
{% if WAZIMAP.comparative_levels|safe and stat.values.this and not stat_class == 'secondary' %}
<div class="indicator_content">
    {% for sumlev in  WAZIMAP.comparative_levels %}
    <div class="indicator__value_context">
	{% build_comparative_item sumlev stat stat_type geography decimals %}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endif %}
