{% extends 'profile/profile_detail.html' %}{% load humanize lookup staticfiles %}

{% block head_meta_description %}Population data and election figures from {{ geography.this.short_name}}, broken down by category: Demographics, Service delivery, Economics and Education.{% endblock %}

{% block header_content %}
<div class="floating-nav-wrapper">
    <nav class="floating-nav">
        <div class="wrapper clearfix">
            <h3><img src="{% static 'img/wazi-logo.png' %}">{{ geography.this.name }}</h3>
            <ul>
                <li><a href="#elections"><i class="fa fa-check"></i> <span>Elections</span></a></li>
                <li><a href="#demographics"><i class="fa fa-user"></i> <span>Demographics</span></a></li>
                <li><a href="#households"><i class="fa fa-home"></i> <span>Households</span></a></li>
                <li><a href="#service_delivery"><i class="fa fa-bolt"></i> <span>Service Delivery</span></a></li>
                <li><a href="#economics"><i class="fa fa-money"></i> <span>Economics</span></a></li>
                <li><a href="#education"><i class="fa fa-graduation-cap"></i> <span>Education</span></a></li>
                <li><a href="#children"><i class="fa fa-child"></i> <span>Children</span></a></li>
                <li><a href="#child_headed_households"><i class="fa fa-child"></i> <i class="fa fa-child fa-tiny"></i> <span>Child-headed Households</span></a></li>
            </ul>
        </div>
    </nav>
</div>

{{ block.super }}
{% endblock %}

{% block profile_header_tail %}
<div class="column-full">
    <strong>{{ primary_releases.active.name }} {{ primary_releases.active.year }}</strong>
    {% if primary_releases.other %}
    <div class="tool-group toggle-sub-group release-list">
        <a>Change release<i class="fa fa-chevron-circle-down"></i></a>
        <ul class="sub-group" style="display: none;">
        {% for release in primary_releases.other %}
            <li><a href="{{ request.path }}?release={{release.year}}">{{ release.name }} {{ release.year }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block profile_detail %}
{% for profile, values in indicator.items %}
<article id="{{profile}}" class="clearfix">
    <header class="section-contents">
        <h1><i class="fa fa-fw fa-user"></i> {{profile}}</h1>
    </header>
    <div class="section-container">
	{% for indicator in values %}
	<section class="clearfix stat-row">
	    <h2 class="header-for-columns">
		<a class="permalink" href="#pop_count" id="pop_count">
		    {{indicator.header}} <i class="fa fa-link"></i>
		</a>
	    </h2>
	    <div class="column-quarter">
		<p>{{indicator.value}}</p>
		<p>{{indicator.summary}}</p>
	    </div>
	    <div class="column-half">
                <div id="chart-{{indicator.chart_type}}-indicator-{{profile}}-{{forloop.counter0}}-stat_values" data-stat-type="scaled-percentage" data-chart-title="{{indicator.chart_title}}"></div>
	    </div>
	</section>
	{% endfor %}
    </div>
</article>
{% endfor %}


{% block citations %}
{% include "profile/_blocks/_change_release.html" %}
<div id="citations">
    <h2>Citations:</h2>
    <ul></ul>
</div>
{% endblock %}
{% endblock %}
