{% extends '_base.html' %}
{% load staticfiles %}
{% load sass_tags %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/vendor/featherlight.min.css' %}">
<link rel="stylesheet" href="{% sass_src 'css/wazimap_za.scss' %}">
{% endblock %}


{% block favicon %}
<link rel="shortcut icon" href="{% static 'img/vpuu-logo.png' %}"/>
{% endblock %}

{% block header_logo %}
<img src="{% static 'img/vpuu-logo.png' %}">
{% endblock %}

{% block header_menu %}
<li><a href="/about">About</a></li>
<li><a href="/help">Help</a></li>
{% endblock %}

{% block header_branding %}
{% if WAZIMAP.default_profile != 'youth' %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block body_javascript_extra %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/wazimap-za.js' %}"></script>
{% endblock %}
