.location-nav {
  display: none; }

.nav__items {
  display: none !important; }

.location-nav {
  display: none; }

#cover-map {
  display: none; }

.location-meta__inner__last {
  clear: both;
  display: block;
  float: left; }

.location-meta__inner__first.w-inline-block {
  display: block;
  float: left;
  width: 100%; }

.location-meta__inner__last {
  clear: none;
  width: 100%; }

.location-meta__metric {
  float: left; }

#cover-map {
  top: 20px;
  width: 300px; }

.data-nav {
  display: none; }

.data-comparison {
  display: none; }

.section-nav {
  display: none; }

.location-meta__inner {
  display: block !important; }

.location-meta {
  height: 130px; }

.section-header__share {
  display: none !important; }

footer {
  display: none !important; }

#page-footer {
  display: none !important; }

.indicator__chart__links {
  display: none !important; }

.data-section {
  page-break-inside: avoid;
  margin-bottom: 5px !important;
  padding-top: 25px !important; }

.sub-section {
  margin-bottom: 0;
  padding-top: 5px !important;
  padding-bottom: 0 !important;
  page-break-after: always; }

.sub-section__footnote {
  padding: 10px !important; }

.sub-section__indicator {
  padding-top: 0 !important; }

.chart__container {
  padding: 5px !important;
  page-break-inside: avoid; }

.chart__block {
  margin: 5px !important; }

.charts_container {
  display: block !important; }

.page-options {
  display: none !important; }

bar .area, .column .area {
  box-shadow: inset 0 0 0 1000px teal; }
